{{> default title='Music'}}

{{#*inline 'styles'}}
<link rel='stylesheet' href='/styles/music.css?v={{getLaunchTime}}' />
{{/inline}}

{{#*inline 'main'}}
<main>
    {{#unless pageNum}}
    <h1 id='title'>Musics</h1>
    {{/unless}}
    {{#if pageNum}}
    <a href='/music?page={{add pageNum -1}}'>Previous musics</a>
    {{/if}}
    <ul id='songs'>
        {{#each songs}}
        <div class='song-wrapper' time='{{this.timestamp}}'>
            {{#unless this.isVideo}}
            <audio controls src='/music/{{this.filename}}'>Your browser is sad.</audio>
            {{/unless}}
            {{#if this.isVideo}}
            <video controls src='/music/{{this.filename}}' width='300'>Your browser is sad.</video>
            {{/if}}
        </div>
        {{/each}}
    </ul>
    {{#unless isLastPage}}
    <a href='/music?page={{add pageNum 1}}'>More musics</a>
    {{/unless}}
</main>
{{/inline}}

{{#*inline 'scripts'}}
{{> goodTime }}
<script>
    for (const song of document.getElementsByClassName('song-wrapper')) {
        const timeString = goodTime(parseInt(song.getAttribute('time')));
        song.innerHTML = `<p>${timeString}</p>` + song.innerHTML;
    }
</script>
{{/inline}}
